<html>
<head>
    <title></title>
</head>
<body>
    <div id="wrapper">{{{reactHTML}}}</div>
    <script>
        var props = JSON.parse('{{{json}}}');
    </script>
    <script src="/bundle.js" ></script>
</body>
</html>
